# --- Dependencias ---
node_modules/
jspm_packages/
web_modules/
# Si usas Python
venv/
env/
__pycache__/

# --- Entorno y Configuración Local ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log

# --- Compilación y Distribución ---
dist/
build/
out/
.ionic/
.capacitor/

# --- Sistema Operativo y Editores ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp